.topInfo{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }

.logo-position{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.name-position{
    margin-top: 2%;
    display:flex;
    flex-direction: column;
    line-height: 11px;
}

.kaliningrad{
    line-height: 21px;
    font-size: 28px;
    color:#201E43;;
    font-family: "Manrope", sans-serif;
    font-weight:800;
    text-decoration: none;
}

.sea{
    font-size: 32px;
    color:#201E43;;
    font-family: "Manrope", sans-serif;
    font-weight:800;
    text-decoration: none;
}

.KMP{
   text-decoration: none;
}

.tlf{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tel{
    color:#758694d8;
    font-size: 19px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    margin-right: 30px;
}

.tel:hover{
    color:#201E43;
}


.logo{
    background-color: transparent;
    width:80px;
}

.mail{
    width:21px;
    height:auto;
   margin-right: 5px;
}

.info{
    text-decoration: none;
    color:#758694d8;
}

.info:hover{
    color:#201E43;
}

.ahref-mail{
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    font-size: 19px;
    color:#758694d8;
}

.ahref-mail:hover{
    color:#201E43;
}


.telegram{
    width: 50px; 
    margin-right: 20px;
    margin-left: 15px;
    height: auto;
}




@media all and (max-width: 500px){

    .topInfo {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .name-position{
        margin-top: 2%;
        display:flex;
        flex-direction: column;
        line-height: 9px;
    }

    .kaliningrad{
        
        line-height: 4px;
        font-size: 19px;
           }
    
    .sea{
        font-size: 17px;
        line-height: 7px;
         }


    .logo-position {
        margin-bottom: 2px;
    }

    .tel {
        font-size: 16px;
        margin-right: 10px;
    }

    .KMP {
        font-size: 21px;
        color: #201E43;
        font-weight: 800;
        text-decoration: none;
        text-align: center;
        margin-bottom: 10px;
    }

    .logo {
        width: 40px;
        margin-right: 10px;
    }

    .ahref-mail {
        font-size: 16px;
    }

    .telegram {
        width: 25px;
        margin-left: 10px;
    }

    .tlf{
        
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 20px;
    }
    
}