.Ourstaf{
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    color:#062c45;
    font-size: 31px;
}


.closeBtn-list-position{
    display:flex;
    justify-content: flex-end;
   }

.closeBtn-list{
    width:40px;
  }

.checkClose{
    border:none;
    background-color: transparent;
}

.buttontlf{
    background-color:#134B70;
    padding:12px;
    color:white;
    width:55%;
    border:none;
    font-family: "Manrope", sans-serif;
    font-size: 25px;
    border-radius: 10px;
}

.buttontlf:hover{
    background:linear-gradient(rgba(132, 203, 221, 0.5),transparent);
    background-color:rgb(46, 35, 171) 
 }


.ReactModal__Overlay {
    z-index: 1001;
    background:linear-gradient(rgba(18, 32, 154, 0.5),transparent);
    background-color:rgb(10, 8, 45);
 }

.ReactModal__Content {
    top: 50%;
    left: 50%;
    margin-bottom: 5%;
    transform:translate(30%, 5%);
    border-radius: 10px;
    padding: 20px; 
    width: 60%; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    height:90vh;
}



form {
    display: flex;
    flex-direction: column; 
 }


label {
    margin-left: 40px;
    margin-bottom: 10px; 
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    color:rgb(80, 78, 78);
}

.lab{
    margin-right: 40%;
}

.inputName{
    width:80%;
    background-color: aliceblue;
    border:none;
    margin-bottom: 15px; /* Отступ между полями ввода */
    padding: 10px; /* Внутренний отступ для удобства ввода */
    border-radius: 5px;
}

.inputTel{
    width:80%;
    background-color: aliceblue;
    border:none;
    margin-bottom: 15px; /* Отступ между полями ввода */
    padding: 10px; /* Внутренний отступ для удобства ввода */
    border-radius: 5px; 
}

.inputMes{
    width:80%;
    height:30vh;
    background-color: aliceblue;
    border:none;
    margin-bottom: 15px; /* Отступ между полями ввода */
    padding: 10px; /* Внутренний отступ для удобства ввода */
    border-radius: 5px; 
}


.btnCall-position{
    margin-top: 7%;
    margin-bottom: 3%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;  
}

.btnCall{
background-color: #2d0fefda;
border:none;
border-radius: 10px;
color:white;
font-size: 19px;
width:70%;
padding:10px;
cursor: pointer; 
}

.btnCall:hover{
    background-color: #2707f6;
    color:#f5f7f8;
}



.send{
    font-family: "Manrope", sans-serif;
    color:#0c2739;
    font-size: 18px;
}


@media all and (max-width: 800px){

    .Ourstaf{
       font-size: 18px;
    }
    
    .buttontlf{
        width:65%;
        font-size: 14px;
     }
       
     
    .closeBtn-list{
        width:20px;
      }

      .ReactModal__Content {
        margin-bottom: 5%;
        transform:translate(10%, 5%);
        border-radius: 10px;
        padding: 20px; 
        width: 60%; 
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
        height:90vh;
    }
 
    label {
        margin-left: 3px;
        font-size: 15px;
        margin-bottom: 1%;
    }
      
    .inputName{
        width:90%;
       }
    
    .inputTel{
        width:90%;
      }
    
    .inputMes{
        width:90%;
        height:20vh;  
    }
    
     
    .btnCall{
    font-size: 19px;
    width:80%;
       }
    
     
    .send{
       font-size: 14px;
    }
    


}







@media all and (max-width: 500px){

    .Ourstaf{
       font-size: 18px;
    }
    
    .buttontlf{
        width:65%;
        font-size: 14px;
     }
       
     
    .closeBtn-list{
        width:20px;
      }

    .ReactModal__Content {
        top:auto;
        left:auto;
        margin-bottom:1px;
        padding: 10px;
        width: 70%; 
    }
 
    label {
        margin-left: 3px;
        font-size: 15px;
        margin-bottom: 1%;
    }
      
    .inputName{
        width:90%;
       }
    
    .inputTel{
        width:90%;
      }
    
    .inputMes{
        width:90%;
        height:20vh;  
    }
    
     
    .btnCall{
    font-size: 19px;
    width:80%;
       }
    
     
    .send{
       font-size: 14px;
    }
    


}





