.Ourstaf{
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    color:#062c45;
    font-size: 31px;
}

.buttontlf{
    background-color:#134B70;
    padding:12px;
    color:white;
    width:55%;
    border:none;
    font-family: "Manrope", sans-serif;
    font-size: 25px;
    border-radius: 10px;
}

.buttontlf:hover{
    background:linear-gradient(rgba(132, 203, 221, 0.5),transparent);
    background-color:rgb(46, 35, 171) /*this your primary color*/
 }



    /* Основные стили для кнопки */
.button {
    background-color: #4CAF50; /* Зеленый цвет */
    color: white; /* Белый текст */
    padding: 10px 20px; /* Отступы */
    border: none; /* Без границы */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Курсор в виде указателя */
    font-size: 16px; /* Размер шрифта */
    transition: background-color 0.3s; /* Плавный переход */
}

.button:hover {
    background-color: #45a049; /* Цвет при наведении */
}

/* Стили для модального окна */
.ReactModal__Overlay {
    z-index: 1001;
    background:linear-gradient(rgba(18, 32, 154, 0.5),transparent);
    background-color:rgb(10, 8, 45) /*this your primary color*/
 }

.ReactModal__Content {
    top: 50%;
    left: 50%;
    margin-bottom: 10%;
    transform:translate(30%, 5%) ; /* Центрирование окна */
    border-radius: 10px; /* Закругленные углы */
    padding: 20px; /* Отступы внутри окна */
    width: 60%; /* Ширина модального окна */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Тень под окном */
    height:90vh;
}


/* Стили для формы */
form {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
 }

/* Стили для меток и полей ввода */
label {
    margin-left: 40px;
    margin-bottom: 10px; /* Отступы между элементами */
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    color:rgb(80, 78, 78);
}

.lab{
    margin-right: 40%;
}

input[type="text"],
input[type="email"]

{
    margin-left: 10%;
    padding: 10px; /* Отступы внутри полей */
    border: 1px solid #ccc; /* Светлая граница */
    border-radius: 5px; /* Закругленные углы */
    margin-top: 5px; /* Отступ сверху */
    width:50%;
}

.messageText{
    margin-left: 10%;
    padding: 40px; /* Отступы внутри полей */
    border: 1px solid #ccc; /* Светлая граница */
    border-radius: 5px; /* Закругленные углы */
    margin-top: 5px; /* Отступ сверху */
    width:80%;
    color: rgb(13, 13, 13); 
}

.textarea {
    padding: 10px; /* Отступы внутри полей */
    border: 1px solid #ccc; /* Светлая граница */
    border-radius: 5px; /* Закругленные углы */
    margin-top: 5px; /* Отступ сверху */ 
}



.btnCall-position{
    margin-top: 7%;
    margin-bottom: 3%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;  
}

.btnCall{
background-color: #4233a5;
border:none;
border-radius: 10px;
color:white;
font-size: 19px;
width:70%;
padding:10px;
cursor: pointer; 
}

.btnCall:hover{
    background-color: #2d2271;
    color:#f5f7f8;
}


.closeBtn-list-position{
    display:flex;
    justify-content: flex-end;
   }

.closeBtn-list{
    width:40px;
  }

.send{
    font-family: "Manrope", sans-serif;
    color:#0c2739;
    font-size: 18px;
}








