.vesselType{
  font-family: "Manrope", sans-serif;
  font-size: 43px;
  font-weight: 600;
  color:#0c0535;
}

.vesselType-position{
  display:flex;
  flex-direction: column;
 align-items: center;
  margin-top: 15%;
  margin-left: 5%;
  line-height: 33px;
  }

  .moreThan{
    color:#908787;
    font-size: 23px;
  }


.cardPosition{
    margin-top:3%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10%;
   
    }

.image{
    width:450px;

   }

   .card{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    transition: all 0.8s ease; 
    text-align: center;
    background-color: #dfe3ef;
    border:none;
margin-top: 5%;
margin-bottom: 5%;
    }

      .card:hover {
        transform: translateY(10px);
        box-shadow: 0 0 60px #908787;
        }

.title{
    font-family: "Manrope", sans-serif;
    font-weight: 200;
    font-size: 33px;
    color:#16080a;
}

.action{
  background-color: transparent;
  border:1px solid grey;
  border-radius: 10px;
  font-size: 19px;
}
  

@media all and (max-width: 500px){

  .vesselType{
    font-size: 23px;
      }
  
  .vesselType-position{
    margin-top: 15%;
    margin-left: 5%;
    }
  
  
  .cardPosition{
           flex-direction: column;
       }
  
  .image{
      width:180px;
      }
  
    
  
  .title{
       font-size: 21px;
  }
  
  .action{
      font-size: 12px;
  }

}