.contactTop{
    width: 100%; 
    height:40vh;
    object-fit:cover; 
    opacity:0.6;
}

.adress-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 5%;
}

.adress-position{
    display:flex;
    flex-direction: column; 
    line-height: 21px; 

}

.text-adress{
    font-size: 27px;
    font-weight: 400;
    font-family: "Manrope", sans-serif;
    color:#686D76;
}

.text-tel{
    font-size: 17px;
    font-family: "Manrope", sans-serif;
    color:#686D76;
}

.contacts-last{
    font-size: 27px;
    font-weight: 300;
    font-family: "Manrope", sans-serif;
    color:#0b172c;
}

.text-mail{
    font-size: 17px;
    font-family: "Manrope", sans-serif;
    color:#686D76;
}

.adressTwo-container{
    margin-top: 3%;
}



@media all and (max-width: 500px){
    .contactTop{
        width: 100%; 
        opacity:0.8;
        height:20vh;
    }
    
    .adress-container{
        flex-direction:column;
        align-items: center;
        justify-content: center;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .adress-position{
        flex-direction: column; 
        justify-content: center;
        line-height: 21px; 
        }
    
    .text-adress{
        font-size: 16px;
        }
    
    .text-tel{
        font-size: 17px;
        }
    
    .contacts-last{
        font-size: 27px;
        font-weight: 300;
           }
    
    .text-mail{
        font-size: 17px;
          }
    
    .adressTwo-container{
        margin-top: 3%;
    }
    
   .map-container{
    display:flex;
    width:100%;
   }
}