.shipTitul{
    height:auto;
    width:100%;
    }

.titul-container {
    position: relative; 
}

.your-Top{
    color:white;
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    line-height: 43px;
}

.delivery-position {
    position: absolute; 
    top: 60%;
    left: 30%; 
    transform: translate(-50%, -50%); 
    text-align:left; 
    z-index: 1; 
  }

  /*
  .contactsNewTop{
    position: absolute; 
    z-index: 1; 
  }
  */

  .btnCall-top{
    background:linear-gradient(rgba(132, 203, 221, 0.5),transparent);
    background-color:rgb(46, 35, 171);
    border:none;
    color:white;
    font-family: "Manrope", sans-serif;
    padding:15px;
    font-size: 22px;
    width:250px;
    border-radius: 5px;
    margin-top: 15px;
  }

  .btnCall-top:hover{
    background:linear-gradient(rgba(150, 216, 233, 0.5),transparent);
    background-color:rgb(24, 8, 194);
    font-size: 24px;
  }



  .your-position{
margin-top:25%;
  }

  .your{
    color:white;
    font-size: 46px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    line-height: 43px;
  }


  .seaWay-position{
margin-top: 25%;
  }

  .seaWay{
    color:rgb(19, 15, 55);
    font-size: 66px;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    line-height: 43px;
  }

  .seaWayWork-position{
    margin-top: 20%;
  }

  .seaWayWork{
    color:white;
    font-size: 26px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    line-height: 43px;
    line-height: 15px;
  }
  .seaWayOffice{
    color:white;
    font-size: 26px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    line-height: 43px;
    line-height: 15px;
  }

 
  @media all and (max-width: 500px){





  }

