.modalQuestion-container{
    background-color: #1c234f;
    width:70%;
    border-radius: 20px;
}

.way{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 10%;
}

.connectWithUs{
color:white;
font-family: "Manrope", sans-serif;
font-size: 36px;
line-height: 40px;
}

.connectWithUs-position{
    margin-top: 3%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fillForm{
    color:white;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    line-height: 40px;  
}

.form-container {
    display: flex;
    flex-direction: column; 
}


.textName {
    color:white;
    margin-bottom: 13px; /* Отступы между элементами */
    font-size: 17px;
    margin-left: 15%;
}


input[type="text"]
{
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    margin-top: 5px;
    width:50%; 
    margin-left: 6%;
}

input[type="email"]
{
    padding: 10px; /* Отступы внутри полей */
    border: 1px solid #ccc; /* Светлая граница */
    border-radius: 5px; /* Закругленные углы */
    margin-top: 5px; /* Отступ сверху */
    width:50%;
    margin-left:6%;
}


input[type="phone"]

{
    padding: 10px; /* Отступы внутри полей */
    border: 1px solid #ccc; /* Светлая граница */
    border-radius: 5px; /* Закругленные углы */
    margin-top: 5px; /* Отступ сверху */
    width:50%;
    margin-left: 2%;
    }




.btnCall-position{
 margin-top: 7%;

 display:flex;
 flex-direction: column;
 justify-content:center;
 align-items: center;  
}

.btnCall{
background-color:#69fecc;
border:none;
border-radius: 10px;
color:black;
font-size: 19px;
width:70%;
padding:10px;
cursor: pointer; 
}

.btnCall:hover{
    background-color: #4233a5;
    color:#f5f7f8;
}



.press-Send{
    font-family: "Manrope", sans-serif;
    color:white;
    font-size: 18px;
}
