.modalQuestion-container{
    background-color: transparent;
    width:60%;
    border-radius: 20px;
    border:1px solid grey;
}

.way{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 10%;
}

.connectWithUs{
color:rgb(6, 6, 6);
font-family: "Manrope", sans-serif;
font-size: 36px;
line-height: 40px;
}

.connectWithUs-position{
    margin-top: 3%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fillForm{
    color:rgb(19, 18, 18);
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    line-height: 40px;  
}

.form-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
}


.inputName{
    width:80%;
    background-color: aliceblue;
    border:none;
    margin-bottom: 15px; /* Отступ между полями ввода */
    padding: 10px; /* Внутренний отступ для удобства ввода */
    border-radius: 5px;
}

.inputTel{
    width:80%;
    background-color: aliceblue;
    border:none;
    margin-bottom: 15px; /* Отступ между полями ввода */
    padding: 10px; /* Внутренний отступ для удобства ввода */
    border-radius: 5px; 
}

.inputMes{
    width:80%;
    height:30vh;
    background-color: aliceblue;
    border:none;
    margin-bottom: 15px; /* Отступ между полями ввода */
    padding: 10px; /* Внутренний отступ для удобства ввода */
    border-radius: 5px; 
}

.btnCall-position{
 margin-top: 7%;
 display:flex;
 flex-direction: column;
 justify-content:center;
 align-items: center;  
}

.btnCall{
background-color:#69fecc;
border:none;
border-radius: 10px;
color:black;
font-size: 19px;
width:70%;
padding:10px;
cursor: pointer; 
}

.btnCall:hover{
    background:linear-gradient(rgba(132, 203, 221, 0.5),transparent);
    background-color:rgb(46, 35, 171); /*this your primary color*/
    color:#f5f7f8;
}



.press-Send{
    font-family: "Manrope", sans-serif;
    color:black;
    font-size: 18px;
}


@media all and (max-width: 500px){


    .modalQuestion-container{
        width:75%;
        border:none;
     }
    
     .fillForm{
     display:none;  
    }
      
    .connectWithUs{
    font-size: 26px;
    line-height: 30px;
    }
    
     
    .form-container {
        flex-direction: column; 
    }
     
    
    .btnCall-position{
    margin-top: 7%;
    display:flex;
    margin-left: 10px; 
    }
    
        
    .btnCall:hover{
        background:linear-gradient(rgba(132, 203, 221, 0.5),transparent);
        background-color:rgb(46, 35, 171); /*this your primary color*/
        color:#f5f7f8;
    }
       
    
    .press-Send{
        font-size: 14px;
        
    }

    .inputName{
        width:90%;
        }
    
    .inputTel{
        width:90%;
       }
    
    .inputMes{
        width:90%;
        height:20vh;
            }
    

}