body{
       position: relative;
 }

 body::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 
    }


.Top-position{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
    line-height: 13px;
}

.Vacancy-Top{
    font-family: "Manrope", sans-serif;
    font-size: 47px;
    font-weight: 600;
    color:#134B70;   
 
}


.vacancies-position{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20%;
}

.vac{
    display:flex;
    flex-direction: column;
    opacity: 1;
    color:black;
    font-size: 23px;
    border:1px solid grey;
    width:25%;
    background-color: rgba(228, 213, 195, 0.574);
    }

.picture-position-vacancy{
    display:flex;
    justify-content: center;
   }

.picture{
    width:100%;
   
}


.question{
    font-size: 15px;
    color:#908787f8;
    font-size: 23px;
}

.type{
    font-family: "Manrope", sans-serif;
    font-size: 23px;
}

.typeZP{
    background-color: rgba(173, 245, 173, 0.715);
}

