.marquee {
  overflow: hidden; 
  white-space: nowrap; 
  width: 100%;
  height: 50px; 
 
  color: rgb(238, 242, 236);
  font-size: 25px;
  font-weight: 400;
  position: relative; 
}

.marquee_content {
  display: inline-block; 
}
