
.contactsNewTop{
    position: absolute; 
    z-index: 1; 
  }



  .nav{
    font-size: 21px;
    font-family: "Manrope", sans-serif;
    margin-left:800px;
    font-weight: 300;
  }

  .me-auto{
   display:none;
}
  
  @media all and (max-width: 500px) {

 
.contactsNewTop{
    position: relative; 

  }

  .toggle-right {
    margin-left:auto; /* Отодвигает кнопку к правому краю */
      }

.me-auto{
    display:block;
    line-height: 8px;
    font-size: 11px;
    color:#201E43;;
    font-family: "Manrope", sans-serif;
    font-weight:800;
    text-decoration: none;
}

.kmp-Top{
    display:flex;
    flex-direction:column;

}

 
.nav{
    margin:0;
    font-size: 12px;
    font-family: "Manrope", sans-serif;
  } 

  .me-offcanvas{
    line-height: 8px;
    font-size: 15px;
     }

  }


  @media all and (max-width: 375px) {

    .me-offcanvas{
        line-height: 8px;
        font-size: 15px;
         }


    .me-auto{
            display:block;
            line-height: 11px;
            font-size: 9px;
            
        }

  }







