.btn-position{
    display:flex;
    justify-content: center;
    margin-bottom: 7%;
}

.btn-download{
    background-color: #134B70;
    font-size: 22px;
    border:none;
    color:white;
    font-family: "Manrope", sans-serif;
    width:420px;
   padding:5px;
   }

.btn-download:hover{
    background:linear-gradient(rgba(132, 203, 221, 0.5),transparent);
    background-color:rgb(46, 35, 171) /*this your primary color*/
}


@media all and (max-width: 500px){

      
    .btn-download{
        font-size: 17px;
        width:220px;
       padding:5px;
       }
    
 
    

}