.letter {
    font-size: 3rem; /* Увеличьте размер шрифта для большей выразительности */
    margin: 0 15px; /* Настройте отступы между словами */
    color: #858282; /* Цвет текста */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
}

