.footer{
    background-color: #134B70;
}

.footerTwo{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 }

.foter-container{
    list-style: none;
    color:rgb(255, 255, 255);
    margin-top: 50px;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    display:flex;
    flex-direction: column;
    align-items: center;
    }
.service{
       color:#222831;
       font-family: "Manrope", sans-serif;
       font-size: 21px;
       font-weight: 600;
}

.copyright{
    display:flex;
    justify-content: center;
    font-size:15px;
}

.Vensil{
    width:30px;
    background-color: white;
    border-radius: 50%;
}

.telegram{
    width:40px;
    margin-top: 5px;;
}


.copyright{
    font-size:15px;
   display:flex;
   flex-direction: column;
align-items: center;
   color:white;
   font-family: "Manrope", sans-serif;

}

.line{
width: 100%;
height: 1px; 
background-color: rgb(11, 11, 11);
margin: 20px 0;     
}

.policy{
    margin-top: 40px;
    background-color: transparent;
    color:rgb(223, 229, 229);
    border:none;
    cursor: pointer;
}

.policy:hover{
    color: rgb(188, 175, 151);
}

.time-work{
    margin-top: 20px;
color:rgb(146, 137, 120)
}

.footer-tel{
    font-size: 15px;
}


@media all and (max-width: 500px) {

  
    .footerTwo{
        display:flex;
        flex-direction: column; 
     }

    
    .service{
           color:#222831;
           font-family: "Manrope", sans-serif;
           font-size: 16px;     
    } 

    .telegram{
        width:30px;
    }

     .copyright{
        font-size:11px;
  
    }

    .policy{
       font-size: 13px;
    }
    
}